<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title>Página não encontrada</title>
</head>
<body>
<section layout:fragment="content" class="card card-narrow error-page">
    <p class="error-code">404</p>
    <h1>Página não encontrada</h1>
    <p>O endereço pode estar errado ou a página não existe mais.</p>
    <a class="btn btn-primary" th:href="@{/}">Ir para o início</a>
</section>
</body>
</html>
